{% extends "inicio/index.html" %}
{% load static %}

{% block title_head %}             
  About 
{% endblock title_head%} 


{% block h1_header %}
  About
{% endblock %}    





{% block main %}

<body>
    <div class="container">
        <h1>Sistema de Gestión de Ingreso a Eventos</h1>
        <h2>Descripción</h2>
        <p>
            El <strong>Sistema de Gestión de Ingreso a Eventos</strong> está diseñado para facilitar y optimizar el control de acceso de personas a eventos de cualquier magnitud. Desde conferencias hasta conciertos, permite a los organizadores gestionar el registro de asistentes, validar entradas electrónicas y controlar el acceso en tiempo real, garantizando seguridad y eficiencia.
        </p>

        <h2>Características principales</h2>
        <div class="features">
            <ul>
                <li>Registro de asistentes</li>
                <li>Validación de entradas vía código QR</li>
                <li>Monitoreo en tiempo real del ingreso</li>
                <li>Integración con plataformas de venta de boletos</li>
            </ul>
        </div>

        <h2>Desarrolladores</h2>
        <p>
            Este sistema ha sido desarrollado por el equipo de <strong> Lala_Tenology</strong>, especializados en soluciones tecnológicas para eventos. Para más información, visita nuestro sitio web: <a href="https://lala.com">www.lala.com</a>.
        </p>

        <h2>Soporte Técnico</h2>
        <p>
            Si tienes preguntas o necesitas asistencia técnica, por favor contáctanos a través de soporte@tusitio.com</a> o visita nuestra página de soporte</a>.
        </p>

        <h2>Licencia</h2>
        <p>
            Este software está licenciado bajo <strong>Prueba1</strong>. 
        </p>

        <div class="credits">
            <p>Agradecemos a todos los colaboradores que participaron en la creación de esta plataforma.</p>
   

        </div>
    </div>
</body>



{% endblock main %}