{% extends "inicio/index.html" %}
{% load static %}

{% block title_head %}             
   Lista de Usuarios
{% endblock title_head%} 


{% block h1_header %}
Lista de Usuarios
{% endblock %}    

{% block main %}

<form method="GET" action="">
    <h2> </h2>
    {{ form.as_p }}
    <button type="submit">Buscar</button>
</form>

{% if persona %}
    <h2>Resultados de la búsqueda:</h2>
    <ul>
        {% for p in persona %}
            <li>{{ p.nombre }} {{ p.apellido }} - {{ p.empresa }}  |  
                <a href="{% url 'inicio:verpersona' p.id %}"> Ver Mas </a>  |  
                <a href="{% url 'inicio:eliminarpersona' p.id %}"> Elimina </a>  |  
                <a href="{% url 'inicio:editarpersona' p.id %}"> Editar </a></li> 
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron resultados.</p>
{% endif %}
{% endblock main %}