{% extends "Base.html" %}


{% block title_head %}             
 Editar Salon
{% endblock title_head%} 


{% block h1_header %}
    Editar: {{Fiesta}}
{% endblock %}    

{% block main %}

<form action="{% url 'eventos:editar_fiesta' fiesta.id %}" method="POST" >

    {% csrf_token %} 

    <br><br>
  {% comment %} 

    <label for="id_dni">DNI:</label>
    <input type="number" name="dni" id="id_dni" required="false">

    <label for="id_nombre">Nombre:</label>
    <input type="text" name="nombre" id="id_nombre" required="false">

    <label for="id_apellido">Apellido:</label>
    <input type="text" name="apellido" id="id_apellido" required="false">

    <label for="id_empresa">Empresa:</label>
    <input type="text" name="empresa" id="id_empresa" required="false">

    <button type="submit">Enviar</button>
    {% endcomment %}

   {{form}}

   
<input type="submit" value="Enviar">    
 
   

</form>




{% endblock main %}