{% extends "Base.html" %}
{% load static %}

{% block title_head %}             
   Salas 
{% endblock title_head %} 

{% block h1_header %}
    Salas de reunio y trabajo
{% endblock %}    

{% block main %}

<!-- Formulario de búsqueda -->
<form method="GET" action="{% url 'eventos:listado_fiesta' %}">
    <input type="text" name="q" placeholder="Buscar fiesta" value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
</form>

{% if fiestas %}
    <h2>Salas disponibles:</h2>
    <ul>
        {% for f in fiestas %}
            <li>{{ f.salon }} - {{ f.direccion }}  
               | 
                <a href="{% url 'eventos:ver_fiesta' f.id %}"> Ver Sala </a>  |  
                <a href="{% url 'eventos:editar_fiesta' f.id %}"> Editar </a>  |         
                <a href="{% url 'eventos:eliminar_fiesta' f.id %}"> Eliminar </a></li> 
        {% endfor %}
    </ul>
{% else %}
    <p>No se encontraron Salas.</p>
{% endif %}

<!-- Botón 3D para crear nuevos salones -->
<a class="boton-3d" href="{% url 'eventos:crear_fiesta' %}">Nueva sala</a>


<style>
    .boton-3d {
        display: inline-block;
        padding: 15px 30px;
        font-size: 18px;
        font-family: Arial, sans-serif;
        color: white;
        background-color: #3498db;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 5px 0px #2980b9, 0px 10px 15px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.2s ease;
        text-decoration: none; /* Para eliminar el subrayado del enlace */
    }

    .boton-3d:active {
        transform: translateY(5px);
        box-shadow: 0px 2px 0px #2980b9, 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
</style>





{% endblock main %}