{% extends "base.html" %}

{% load static %}

{% block title_head %}              
  Ver Sala 
{% endblock title_head%} 


{% block h1_header %}
  {{fiesta}}
{% endblock %}    


{% block main %}
<ul>
    <li>
       Salon: {{fiesta.salon}} 
    </li>
    <li>
       direccion: {{fiesta.direccion}}
    </li>
    <li>
       capacida: {{fiesta.capacidad}} 
    </li>
    <li>
      Imagen:
      {% if fiesta.imagen %}
          <img src="{{ fiesta.imagen.url }}" alt="Imagen de {{ fiesta.salon }}" style="max-width: 200px; max-height: 200px;">
      {% else %}
          <p>No hay imagen disponible para esta sala.</p>
      {% endif %}
   </li>

</ul>   

{% endblock main%}   